.plansza{
    background-color:green;
    position: relative;
    width: 200px;
    height: 200px;
}

#ball {
    width: 10px;
    height: 10px;
    background: red;
    position: absolute;
    top: 50%;
    left: 50%;
}