/* @import url('https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:300,400&display=swap&subset=latin-ext'); */
/* @import url('https://fonts.googleapis.com/css?family=Quicksand:300,400|Yanone+Kaffeesatz:300,400&display=swap&subset=latin-ext'); */
@import url('https://fonts.googleapis.com/css?family=Abel|Nanum+Gothic|Open+Sans+Condensed:300|Quicksand:300,400|Yanone+Kaffeesatz:200,300,400&display=swap&subset=latin-ext');

body {
    /* font-family: 'Yanone Kaffeesatz', sans-serif; */
    font-family: 'Quicksand', sans-serif;
    padding: 2vmax 0 50px 0;
    margin: 0;
    color: #222;
    overflow-x: hidden;
}

.task-pool-container {
    display: flex;
    justify-content: center;
    /* margin-top: 2vmax; */
}

#task-pool {
    height: 13vmax;
    overflow-y: auto;
    padding: 2vmax;
    scroll-behavior: smooth;
}

.task-pool-wrapper {
    z-index: 1000;
}

.task-pool-wrapper .user-title {
    color: #fff;
}

/* #task-pool::after {
    content: 'Tasks';
    position: absolute;
    bottom: -8px;
    right: 7px;
    font-size: 4rem;
    font-weight: 700;
    color: #fff;
} */

.users-tasks-container {
    display: flex;
    justify-content: center;
}

.user-wrapper {
    position: relative;
}

.user-wrapper:nth-of-type(1) {
    top: 1.5vmax;
}

.user-wrapper:nth-of-type(3) {
    top: 3vmax;
}

.user-title {
    text-align: center;
    margin: 0 0 5px 0;
}

/* #user2-cont {
    top: 1.5vmax;
}

#user3-cont {
    top: 3vmax;
} */

#user1-cont::after, #user2-cont::after, #user3-cont::after {
    position: absolute;
    bottom: -8px;
    right: 7px;
    font-size: 4rem;
    font-weight: 700;
    color: #fff;
}

#user2-cont::after {
    content: '2';
}

#user1-cont::after {
    content: '1';
}

#user3-cont::after {
    content: '3';
}

#user1-cont::before, #user2-cont::before, #user3-cont::before {
    content: '';
    position: absolute;
    width: 11vmax;
    height: 11vmax;
    bottom: 0;
    right: 0;
    border-radius: 50%;
    font-size: 7rem;
    font-weight: 700;
    color: #7b7b7b;
    background: lightgrey;
    transform: translate(30%, 30%);
}

#user2-cont::before {
    background: #325D79;
}

#user1-cont::before {
    background: #FF9800;
}

#user3-cont::before {
    background: #555;
}

.single-task {
    /* background-image: url("camera.jpg");
    background-position: center;
    background-size: cover; */
    background: rgba(241, 241, 241, 0.692);
    position: relative;
    z-index: 1000;
    /* height: 30px; */
    width: 100%;
    /* top: 5px;
    left: 5px; */
    cursor: pointer;
    box-sizing: border-box;
    /* border: 1px solid yellow; */
    padding: 0.7vmax;
    transition: 0.5s all;
    /* box-shadow: -2px 3px 3px rgba(132, 132, 132, 0.37); */
    box-shadow: -8px 7px 10px rgba(132, 132, 132, 0.35);
    margin-top: 10px;
    border-left: 5px solid #FF9800;
    font-weight: 700;
    word-break: break-word;
}

#user2-cont .single-task {
    background: #325D79;
    border-left: 5px solid rgb(209, 209, 209);
    color: #fff;
}

#user1-cont .single-task {
    background: #FF9800;
    border-left: 5px solid #555;
    color: #fff;
}

#user3-cont .single-task {
    background: #555;
    color: #fff;
}

.hold {
    /* border: solid #ccc 4px;
    opacity: 1; */
    /* border: 1px solid orange;
    padding-left: 10px; */
}

.task-container {
    /* display: inline-block; */
    min-height: 13vmax;
    width: 13vmax;
    margin: 10px;
    position: relative;
    /* border: 3px salmon solid; */
    background-color: white;
    box-shadow: -2px 3px 10px rgba(132, 132, 132, 0.35);
    transition: 0.5s all;
    padding: 1vmax;
    overflow: hidden;
    padding: 1vmax 3vmax 3vmax 1vmax;
}

/* .user-container {
    padding: 1vmax 3vmax 3vmax 1vmax;
} */

.hovered {
    /* background: #f4f4f4; */
    /* box-shadow: -6px 6px 20px rgba(132, 132, 132, 0.35); */
    box-shadow: -6px 6px 20px rgba(132, 132, 132, 0.45);
    /* border-style: dashed; */
}

.invisible {
    display: none;
}

.top-color-bar {
    transform-origin: bottom left;
    background: #325D79;
    height: 30vh;
    position: fixed;
    top: -30vh;
    left: 0;
    width: 120vw;
    transform: rotate(5deg);
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

::-webkit-scrollbar-thumb {
  background: #888; 
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.app-title-bar {
    position: fixed;
    top: 0;
    right: 0;
    text-align: right;
    padding-right: 2vmax;
}

.app-title-bar h1, .app-title-bar h2 {
    font-weight: 200;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    color: #fff;
}

.app-title-bar h1 {
    margin-bottom: 0;
    font-size: 1.5rem;
    font-weight: 300;
}

.app-title-bar h2 {
    margin-top: 1vmax;
    font-size: 1.2rem;
}

.clear-btn {
    background: #ff9800;
    border: 3px solid transparent;
    color: #fff;
    width: 4vmax;
    height: 4vmax;
    border-radius: 50%;
    box-sizing: border-box;
    position: fixed;
    top: 1vmax;
    left: 1vmax;
    transition: 0.5s all;
    cursor: pointer;
    box-shadow: -2px 2px 5px rgba(76, 76, 76, 0.5);
    font-size: 1.2rem;
    z-index: 1000;
    outline: none;
}

.clear-btn::before {
    content: 'clear storage';
    position: absolute;
    top: 50%;
    left: 2vmax;
    font-size: 0.8rem;
    color: #555;
    transition: 0.5s all;
    z-index: -1;
    width: 11vmax;
    transform: translateY(-50%);
    opacity: 0;
}

.clear-btn:hover {
    background: #555;
    border: 3px solid #ff9800;
    box-shadow: -4px 4px 10px rgba(76, 76, 76, 0.5);
}

.clear-btn:hover::before {
    opacity: 1;
}

.add-task-wrapper {
    width: 15vmax;
    box-sizing: border-box;
    display: flex;
    height: 2vmax;
    /* margin-left: 2vmax; */
    position: fixed;
    bottom: 1vmax;
    left: 1vmax;
}

.add-task-wrapper .new-task-value {
    width: 60%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 1px solid #555;
    outline: none;
    padding-left: 5px;
}

.add-task-wrapper .add-task {
    width: 40%;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background: #555;
    color: #fff;
    border: none;
    transition: 0.5s all;
    cursor: pointer;
    border: 1px solid #555;
}

.add-task-wrapper .add-task:hover {
    background: #ff9800;
    color: #fff;
}

.white-mobile-bar {
    position: fixed;
    width: 100%;
    height: 10vh;
    background: #fff;
    display: none;
    bottom: 0;
    left: 0;
}

@media only screen and (max-width: 768px) {
  body {
      padding: 17vmax 0 50px 0; 
  }
  .app-title-bar {
      position: absolute;
  }
  .app-title-bar h1 {
      font-size: 1.2rem;
  }
  .app-title-bar h2 {
      margin-top: 2vmax;
      font-size: 1rem;
  }
  #task-pool {
      height: 85vw;
  }
  .task-container {
      min-height: 85vw;
      width: 85vw;
  }
  .users-tasks-container {
      flex-wrap: wrap;
  }
  #user2-cont, #user3-cont {
      top: 0;
  }
  #user1-cont::before, #user2-cont::before, #user3-cont::before {
      width: 30vmax;
      height: 30vmax;
  }
  .top-color-bar {
      transform: rotate(15deg);
      height: 47vh;
      top: -23vh;
      left: -15vw;
      width: 130vw;
  }
  .white-mobile-bar {
      display: block;
  }
  .add-task-wrapper {
      width: 73vw;
      height: 32px;
      bottom: 5px;
      left: 5px;
      z-index: 100;
  }
  .clear-btn {
      bottom: 5px;
      position: fixed;
      top: unset;
      right: 15px;
      left: unset;
      width: 40px;
      height: 40px;
      font-size: 1rem;
  }
  .single-task {
      padding: 7px;
  }
  .user-wrapper:nth-of-type(1) {
      top: 0;
  }
  .user-wrapper:nth-of-type(3) {
      top: 0;
  }
  .user-title {
    color: #98aaab;
    font-weight: 700;
  }
}